<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Homepage Test Suite">

    <test name="Homepage Tests">

        <groups>
            <run>
                <include name="homepage"/>
            </run>
        </groups>

        <classes>
            <class name="demoqa.DemoQAHomePageTest"/>
            <class name="saucedemo.SauceDemoHomePageTest"/>
            <class name="demoqa.DemoQAElementsTest"/>
            <class name="demoqa.DemoQAFormsTest"/>
            <class name="saucedemo.SauceDemoLoginTest"/>
            <class name="saucedemo.SauceDemoProductsTest"/>
        </classes>

    </test>

</suite>